body {
	background: black;
	background-image: url(./images/sw2.avif);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: rgb(20, 20, 13);
}

#list {
	background-color: #feffdb transparent;
	font-size: 12px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	border-radius: 8px;
}
.result {
	background-color: black;
	color: white;
	border: 3px solid red;
}

#buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

button {
	opacity: 0.9;
	position: relative;
}

td {
	border: 2px solid rgb(211, 217, 31);
	background-color: rgba(255, 255, 0, 0.844);
	color: black;
	border-radius: 5px;
	padding: 10px;
	opacity: 0.8;
	overflow-wrap: break-word;
}

th, .numberOfPage {
	border: 2px solid yellow;
	background-color: #000000c0;
	color: white;
	border-radius: 8px;
	padding: 10px;
	opacity: 0.8;
}

button:hover {
	background-color: black;
	color: rgb(244, 2, 2);
	transition: 0.5s;
	box-shadow: rgba(243, 16, 20, 0.52) 0px 20px 30px -10px;
}

button:focus {
	outline-color: transparent;
	outline-style: solid;
	border: 3px;
	box-shadow: 0 0 0 3px red;
}

.close {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid rgba(5, 0, 0, 0.818);
	background-color: rgba(237, 9, 9, 0.937);
	color: white;
	border-radius: 5px;
	opacity: 0.9;
	width: 200x;
	height: 15px;
	padding: 15px;
	font-size: 15px;
	margin: 10px;
}

.confirm,
.cancel,
.confirmDelete,
.cancelDelete {
	width: 60px;
	height: 30px;
	position: relative;
	margin: 10px;
	font-size: 15px;
	border: 2px solid rgb(243, 42, 2);
	border-radius: 10px;
	background-color: rgb(9, 3, 0);
	color: white;
	opacity: 0.9;
}

.confirm:hover,
.cancel:hover,
.cancelDelete:hover,
.confirmDelete:hover {
	background-color: black;
	color: rgb(87, 244, 2);
	transition: 0.5s;
	box-shadow: rgb(1, 0, 9) 0px 20px 30px -10px;
	width: 70px;
}

.confirm:focus,
.cancel:focus,
.cancelDelete:focus,
.confirmDelete:focus {
	outline-color: transparent;
	outline-style: solid;
	border: 3px;
	box-shadow: 0 0 0 3px red;
}

.span,
.spanDelete {
	margin: 8px;
	font-size: 13px;
	color: red;
	padding: 5px;
}

.dialogue {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 150px;
}

.refreshButton {
	padding: 15px;
	margin: 10px;
	width: 100px;
	border: 7px inset rgb(5, 211, 5);
	border-radius: 10px;
	color: rgb(245, 249, 245);
	background-color: rgba(5, 5, 5, 0.499);
	font-size: 15px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: rgb(192, 218, 245) 0px 20px 30px -10px;
}

.mainButtons {
	padding: 15px;
	margin: 20px;
	width: 200px;
	border: 4px solid;
	border-radius: 10px;
	color: yellow;
	background-color: rgba(5, 5, 5, 0.499);
	font-size: 15px;
	box-shadow: rgb(192, 218, 245) 0px 20px 30px -10px;
}

.delete {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border-radius: 15px;
}

.detailsButton,
.removeButton {
	border-radius: 15px;
}

#pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 150px;
}

.nextAndPrevious {
	padding: 10px;
	margin: 20px;
	width: 130px;
	border: 3px solid red;
	border-radius: 10px;
	color: rgb(250, 246, 246);
	background-color: rgba(5, 5, 5, 0.499);
	font-size: 10px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-shadow: rgb(192, 218, 245) 0px 20px 30px -10px;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

#logo {
	display: flex;
	justify-content: center;
}

.tableAction {
	border: 3px solid red;
}

.logo {
	width: 20%;
}
